<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <form method="get" action="/oauth/">
        {{ csrf_field() }}
        <label>Shop domain:</label>
        <input type="text" name="shop">
        <button type="submit">
            Start OAuth
        </button>
    </form>
    </body>
</html>